.about-me{
    width:min(max(70vw,700px),100vw);
    display:flex;
    justify-content: space-between;
    
    
    
}
.about-me * {
    position: relative;
    width :48%;
    
}
.about-me-content img{
    width:100%;
    height:100%
    
}
.about-me-content{
    
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.tabs{
    
    position: relative;
    width:80%;  
    display:flex;
    justify-content: start;
    font-size: max(1.5vw,15px);
    margin:2vh 0;
    
}
.tab{
   
    border:none;
    color: grey;
    cursor: pointer;
    
     
}
.tab1{
    position: relative;
    width: 20%;
    margin-right:13%;
}


.tab *:hover,.active-tab{

    color: white;

}




.tab-content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    
    
}



.active-tab{}

.active-tab::after{
    content:"";
    display: block;
    background-color:#A855F7;
    height: 2px;
    border-radius: 20px;
    width:0%;
    animation: expand 0.2s ease forwards;
    
}
@keyframes expand {
    to {
      width: 100%; /* Set the desired final height */
    }
  }


@media (max-width: 600px) {
    .about-me {
        display: flex;
        flex-direction: column;
        width:80vw;

    }
    .about-me * {
        width:80vw
    }
    .tabs{
        width:80vw;
        
    }
    .tab{
        width:25vw

    }
    .tab h1{
        font-size:0.8rem !important;
    }
    .tab1 {
        width:15vw!important;
        

    }


    
} 