.contact{
    padding-top: 5vh;
    width:70vw;
    display: flex;
    position:relative;
    justify-content: space-between;
    
}
.contact div{
    position:relative;
    width:48%;
}
.contact div h1{
    font-size:max(1.2vw,15px);
    font-weight:400

}
.contact div p{
    font-size:max(0.9vw,12px);
    font-weight:400

}

input,textarea{
    background-color: #18191E;
    border-radius: 5px;
    height:40px;
    border-width:2px;
    border-color: #33353F;
    border-style: double;
    width:100% !important;
}
button[type="submit"]{
    background-color:rgb(168 85 247);
    border:none;
    width:100% !important;
    border-radius:5px;
    height:5vh;
    color:white
}
.contact::after{
    content:"";
    position:absolute;
    background-color:grey;
    bottom:-20px;
    height:1px;
    width:300vw;
    right:-100vw

    
}
.form *{
    margin:.4vh 0;
    padding-left: .5vw;
}


@media (max-width: 600px) {
   .contact{
    width:95vw;
    flex-direction: column;
   }
   
   .contact *{
    width:100% !important;
}

    
} 