.project-card{
    width:20vw;
    height:100%;
    margin-top:5.5vh ;
    padding-bottom: 5vh;
    transform-style: preserve-3d;
    position: relative;
    perspective: 700px;

    
}
.trigger {position: absolute;top:0;left:0; height: 33%; width: 33%; display: block; z-index: 50; 

    &:nth-child(1){  left: 0%; top: 0%;
        width:0;
      &:hover ~ .project-card-container {}
     }
    &:nth-child(2){  left: 33.333333%; top: 0%;
        width:0;
      &:hover ~ .project-card-container { }
     }
    &:nth-child(3){  left: 66.666666%; top: 0%;
        width:0;
      &:hover ~ .project-card-container {}
     }
    &:nth-child(4){  left: 0%; top: 33.333333%;
      &:hover ~ .project-card-container {transform:  scale(1.2);}
     }
    &:nth-child(5){  left: 33.333333%; top: 33.333333%;
      &:hover ~ .project-card-container {transform:  scale(1.2);}
     }
    &:nth-child(6){  left: 66.666666%; top: 33.333333%;
      &:hover ~ .project-card-container {transform: scale(1.2);}
     }
    &:nth-child(7){  left: 0%; top: 66.666666%;
      &:hover ~ .project-card-container {transform:  scale(1.2);}
     }
    &:nth-child(8){  left: 33.333333%; top: 66.666666%;
      &:hover ~ .project-card-container {transform:   scale(1.2);}
     }
    &:nth-child(9){  left: 66.666666%; top: 66.666666%; 
      &:hover ~ .project-card-container {transform: scale(1.2);}
     }
  }
 
.project-card-container{
 height: 100%;
 transition: all 0.9s cubic-bezier(.25,.8,.25,1);
 border-color: grey;
 border-width: 1px;
 border-style: double;
 border-radius:20px ;

}
.project-card h1{
    font-size:1vw;
}
.img-container{
    width:20vw;
    aspect-ratio: 16/9;
    position: relative;
    overflow: hidden;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    }

.project-img{
    position: relative;
    width:20vw;
    height:100%
}


.img-container:hover{
    .icons{display: flex;}
    .project-img{opacity: 0.2;}
}
.icons{
    color:grey;
    justify-content: space-between;
    position:Absolute;
    top:45%;
    right: 35%;
    width:30%;
    height:10%;
    display: none;
    cursor: pointer;

}
.icn{
    height:1.2vw;
    width:1.2vw;
    padding:.5vw;
    border:2px;
    border-style:double;
    border-width: 2px;
    border-color:grey;
    border-radius: 50%;
}
.project-card-txt h1{
    padding: 1vh 1vw;
    font-size: max(1.4vw,15px)!important;
}
.project-card-txt p{
    font-size: max(1vw,12px) !important;
    color: grey;
    padding: 1vh 1vw;
}
.icons *:hover{
    .icons{color:white}
    .icn{
        color: white;
        border-color:red;
    }

}
@media (max-width: 600px) {
    .img-container,
    
    .project-img,

    .project-card{
        width:70vw; 
    }
  
    
  } 
    
