*{
  padding:0;
  margin:0;
  
}
body{
  background: #1B1919;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  
}

.HeroSection{

}
.stats{
  margin: 20vh 0;
  height:12vh;
  width:70vw;
  font-size: 2vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border:2px; 
  border-style:double;
  border-width: 2px;
  border-color:grey;
}

@media (max-width: 400px) {

  .stats{
  
    /* margin: 5vh 0;

    font-size: 2vw;
    display: flex; */
    border:none;
    flex-direction: column;
    height:40vh;
    width:10vw; 
    /* justify-content: space-around;
    border-color:red;
    border-width: 5px; */
  }
 

  
} 


